{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}



{% block content %}
{{block.super}}



<div class="container-fluid">
    <div class="row" style="background-image: -o-repeating-linear-gradient(https://images.pexels.com/photos/1704002/pexels-photo-1704002.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
        <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAYsFZrg4PNDQ04JI0en1LALJBxMTj7f-2kO7S6RQCEvHQoS7A6g"  alt="">
        </div>
        <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLKo34FQFWYmwks3xdD-obsOHzWyD00ioo03sU1hfOYD2HAPYJCQ" alt="">
        </div>
        <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi_I1Vmgs8JPjf-hOab-q5tNO4Inpe3rSyKEJEAtSY6bC5TvuMpA" alt="">
        </div>
    </div>

    <div class="row">
        <img src="{{project.project_image.url}}" class="img-responsive" alt="">
    </div>

    <div class="row">
        <h1 class="text-center">{{project.title}}</h1>
    </div>

    <div class="row">
        <p>{{project.post}}</p>
    </div>

    <div class="row">
        <p>Posted {{project.pub_date|timesince}} by {{project.profile.username}}</p>
    </div>

</div>

<div class="container-fluid">
    <form action="{%url 'project'%}" method="post">
        {%csrf_token%}

        {% for field in form %}
        {% bootstrap_field field %}
        <input type="submit" value="Subscribe">
        {% endfor %}
    </form>
</div>

<!-- {% for field in form %}
{% bootstrap_field field %}
{% endfor %} -->

{% endblock %}

{% block scripts %}
{{block.super}}
    <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
{% endblock %}